.App {
  width: 100%;
  min-height: 100vh;
  background-color: #c77dff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  background-color: #9d4edd;
  padding: .25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: black .1rem solid;
  box-shadow: 1px 1px 5px 1px #472464;
}

.subtitle p {
  margin: 0;
}

.subtitle i {
  font-weight: 600;
}

.subtitle i:hover {
  cursor: pointer;
  color: rgb(255, 0, 234);
}